@font-face {
    font-family: 'Social Gothic Demi-Bold';
    src: url('../fonts/SocialGothicDemiBold.otf');
}

@font-face {
    font-family: 'Cormonant Garamond Light';
    src: url('../fonts/CormorantGaramond-Light.ttf');
}

@font-face {
    font-family: 'Cormonant Garamond Medium';
    src: url('../fonts/CormorantGaramond-Medium.ttf');
}

body {
    margin: 0;
}

#root {
    width: 100vw;
    height: 100vh;
}

.carousel-status {
    display: none;
}

.section {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.section img {
    /*width: 100vw;
    height: 100vh;*/
    overflow: hidden;
}

.slide-selectors button {
    background: transparent;
    border: none;
    position: relative;
    bottom: 1.3em;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

.slide-selectors button:hover {
    cursor: pointer;
}

.slide-selectors button:focus {
    border: none;
    outline: none;
}

.control-arrow {
    /*display: none;*/
}

/*.control-dots {
    display: none;
}*/

#carousel-container > .carousel-1 > .carousel > .control-dots {
    display: none;
}

.thumbs-wrapper {
    display: none;
}

.section-2-icon {
    width: 6.5em !important;
    height: auto;
    margin: 0 auto;
    margin-top: 52%;
}

.section-2-heading {
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    letter-spacing: 0.7px;
    font-size: 1.7em;
    margin-top: 0.6em;
}

.section-2-heading:after {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 59px;
    left: 34%;
    height: 2px;
    width: 33%;
}

.section-2-text {
    color: #fff;
    font-family: 'Cormonant Garamond Medium';
    font-size: 1.2em;
    margin: 13% 9%;
    letter-spacing: 0.35px;
}

.next-section-link {
    text-transform: uppercase;
    font-family: 'Social Gothic Demi-Bold';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.55em;
}

.next-section-logo {
    position: relative;
    width: 38% !important;
    top: 4%;
}

.add-to-cart-container {
    display: block;
    position: relative;
    top: 63%;
}

.add-to-cart {
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    padding: 0.5em 0.6875em;
}

.add-to-cart:hover {
    border: 3px solid #fff;
    transition: 0.25s all ease-in-out;
    cursor: pointer;
}

.add-to-cart button {
    background-color: transparent;
    border: none;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    color: #fff;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.add-to-cart button:focus {
    border: none;
    outline: none;
}

.quantity {
    font-family: 'Social Gothic Demi-Bold';
    text-transform: uppercase;
    width: 3em;
    height: 1.5em;
    text-align: center;
    border: none;
    background: transparent;
    color: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.quantity:hover {
    cursor: pointer;
}

.quantity:focus {
    outline: none;
    border: none;
}

.product-desc {
    color: #fff;
    text-align: left;
    font-family: 'Cormonant Garamond Medium';
    position: relative;
    top: 62%;
    left: 12%;
    font-size: 1.25em;
    letter-spacing: 0.45px;
}

.product-icons {
    width: 60% !important;
    height: auto;
    position: relative;
    display: block !important;
    top: 59%;
    margin: 0;
    left: 1%;
}

.product-icons[src="/img/mobile-five-icons.png"] {
    left: 3%;
}

@media (max-height: 750px) {

    .add-to-cart-container {
        top: 64%;
    }

    .add-to-cart {
        font-size: .65em;
        padding-bottom: 0.8em;
    }

    .product-desc {
        font-size: 1.15em;
        letter-spacing: 0.9px;
        top: 63%;
    }

    .product-icons {
        top: 59%;
    }

}

@media (max-height: 670px) {

    .add-to-cart-container {
        top: 65%;
    }

    .add-to-cart {
        font-size: .5em;
        padding-bottom: 0.9em;
    }

    .product-desc {
        font-size: 1.1em;
        letter-spacing: 0.9px;
        top: 64%;
    }

    .product-icons {
        top: 59.75%;
        left: 2%;
        width: 54% !important;
    }

}

