@font-face {
    font-family: 'League Spartan Bold';
    src: url('../fonts/LeagueSpartan-Bold.otf');
}

.check-buyer-info h1 {
    font-family: 'League Spartan Bold';
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 0;
}

.check-buyer-info h3 {
    margin-top: 0.5em;
    text-align: center;
    font-family: 'League Spartan Bold';
    font-size: 1.1em;
}

.check-buyer-info .billing-information {
    display: flex;
    justify-content: center;
}

.check-buyer-info .billing-information ul {
    list-style: none;
    padding-left: 0;
    margin-top: 6vh;
    font-size: 1.5em;
    font-family: 'League Spartan Bold';
}

.check-buyer-info .billing-information ul li {
    padding-top: 0.1em;
}

.check-buyer-info .billing-information form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-top: 6vh;
}

.check-buyer-info .billing-information form input {
    border: 0;
    outline: none;
    font-family: 'League Spartan Bold';
    font-size: 1.5em;
    text-align: right;
    -webkit-appearance: none;
    padding: 1px;
    margin: 0;
}

.check-buyer-info label {
    font-family: 'League Spartan Bold';
    margin-top: 3vh;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.check-buyer-info label input {
    margin-right: 1em;
}

.check-buyer-info .different-address-delivery form {
    display: flex;
    flex-direction: column;
    width: 14vw;
    margin: 0 auto;
    margin-top: 3vh;
}

.check-buyer-info .different-address-delivery form input {
    font-family: 'Open Sans';
    font-size: 1.1em;
    padding: 0.4em;
    border: 2px solid #c3c3c3;
    border-radius: 0.3em;
    margin: 0;
    margin-top: 0.6em;
    -webkit-appearance: none;
}

.confirm {
    border: 5px solid #000;
    border-radius: 1.5em;
    font-family: 'League Spartan Bold';
    font-size: 1.6em;
    color: #fff;
    background-color: #000;
    padding: 1em 1.4em;
    display: inline;
    margin: 0 auto;
    transition: 0.2s all ease-in-out;
}

.confirm:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000000;
}

.confirm:focus {
    outline: none;
}

@media (max-width: 1500px) {

    .check-buyer-info .different-address-delivery form {
        width: 18vw;
    }

}

@media (max-width: 1200px) {

    .check-buyer-info .billing-information form {
        width: 25vw;
    }

    .check-buyer-info .different-address-delivery form {
        width: 21vw;
    }

}

@media (max-width: 1000px) {

    .check-buyer-info .billing-information form {
        width: 29vw;
    }

    .check-buyer-info .different-address-delivery form {
        width: 24vw;
    }

}

@media (max-width: 850px) {

    .check-buyer-info .billing-information form {
        width: 35vw;
    }

    .check-buyer-info .different-address-delivery form {
        width: 30vw;
    }

}

@media (max-width: 750px) {

    .check-buyer-info .billing-information form {
        width: 40vw;
    }

    .check-buyer-info .different-address-delivery form {
        width: 35vw;
    }

}

@media (max-width: 650px) {

    .check-buyer-info .billing-information form {
        width: 45vw;
    }

    .check-buyer-info .different-address-delivery form {
        width: 40vw;
    }

}

@media (max-width: 550px) {

    .check-buyer-info {
        font-size: 0.8rem;
    }

}

@media (max-width: 450px) {

    .check-buyer-info {
        font-size: 0.7rem;
    }

    .check-buyer-info .billing-information form {
        width: 48vw;
    }

    .check-buyer-info .different-address-delivery form {
        width: 46vw;
    }

}

@media (max-height: 900px) {

    .check-buyer-info .confirm {
        margin-bottom: 10vh;
    }

}