@font-face {
    font-family: 'Social Gothic Demi-Bold';
    src: url('../fonts/SocialGothicDemiBold.otf');
}

@font-face {
    font-family: 'Social Gothic Bold';
    src: url('../fonts/SocialGothicBold.otf');
}

@font-face {
    font-family: 'Cormonant Garamond Light';
    src: url('../fonts/CormorantGaramond-Light.ttf');
}

@font-face {
    font-family: 'Cormonant Garamond Medium';
    src: url('../fonts/CormorantGaramond-Medium.ttf');
}

@font-face {
    font-family: 'Cormonant Garamond Bold';
    src: url('../fonts/CormorantGaramond-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@keyframes intro-right-arrow {
    
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }

}

@keyframes intro-left-arrow {
    
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-10px, 0);
    }

}

@keyframes intro-down-arrow {
    
    0%,
    100% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, -10px);
    }

}

*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    margin: 0;
}

.desktop-components-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.desktop-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.desktop-section > img {
    width: 100vw;
    height: 100vh;
}

.desktop-section .control-dots .dot {
    width: 1em;
    height: 1em;
}

.desktop-components-container div:nth-child(4) > .desktop-section .carousel .control-dots .dot {
    background-color: #fff;
}

div[data-testid="container"] {
    width: 100vw !important;
    height: 100vh !important;
}

/* image label styles */
div[data-testid="container"] div:nth-of-type(2) div {
    background-color: transparent !important;
    opacity: 1 !important;
}

.desktop-section > div[data-testid="container"] div:nth-of-type(2) div:not(.desktop-intro-main, .desktop-intro-icons, .desktop-intro-shown) {
    top: 68% !important;
}

.burger {
    position: fixed !important;
}

.intro-right-arrow {
    animation: intro-right-arrow 1s ease-in-out infinite;
}

.intro-left-arrow {
    animation: intro-left-arrow 1s ease-in-out infinite;
}

.fa-arrow-down {
    animation: intro-down-arrow 1s ease-in-out infinite;
}

.desktop-heading {
    text-transform: uppercase;
    text-align: left;
    color: #fff;
}

.desktop-intro-main {
    position: relative;
    left: 1.6vw;
    bottom: 4.75vh;
}

.desktop-intro-first-heading {
    background-color: transparent !important;
    font-family: "Social Gothic Demi-Bold";
    font-size: 5.5em;
    line-height: 1.1em;
    position: relative;
    bottom: 35vh;
    left: 2.5vw;
}

.styles_typicalWrapper__1_Uvh {
    margin-top: 0;
}

div[data-testid="container"] div:nth-of-type(3) div {
    opacity: 1 !important;
    text-align: left;
    background-color: transparent !important;
}

.desktop-intro-hidden-section {
    text-align: left;
    position: relative;
    right: 47vw;
    top: -5vh;
    color: #000;
}

.desktop-intro-hidden-heading {
    font-size: 5em;
    font-family: 'Social Gothic Bold', sans-serif;
    margin-bottom: 0;
    left: 0;
    color: #000;
}

.desktop-logo {
    width: 15.7em !important;
    height: 2.72em !important;
    margin-left: -3%;
}

.desktop-intro-company-desc {
    font-family: 'Cormonant Garamond Medium';
    font-size: 1.4em;
    width: 58ch;
    margin-bottom: 12vh;
}

.desktop-intro-hidden-heading {
    font-family: 'Social Gothic Bold';
}

.desktop-intro-icons {
    width: 50% !important;
    height: 25% !important;
}

.desktop-intro-hidden-section .desktop-intro-icons {
    position: relative;
    top: 7.5vh;
    left: 1vw;
}

.desktop-intro-second-content {
    position: relative;
    top: 14%;
    left: 67.5%;
    font-size: 1.4em;
    margin: 0;
}

.desktop-intro-second-content h1 {
    font-family: 'Social Gothic Bold';
    font-size: 3em;
    line-height: 1.1em;
    margin-bottom: 0;
}

.desktop-intro-second-content h2 {
    font-family: 'Cormonant Garamond Bold';
    text-transform: none;
    margin-top: 0.5%;
}

.desktop-about-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 22%;
}

.desktop-about-icon {
    width: 8% !important;
    height: 8% !important;
}

.desktop-about-heading {
    font-family: 'Social Gothic Bold', sans-serif;
    text-align: center;
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 1.5%;
}

.desktop-about-heading::after {
    content: "";
    background-color: #fff;
    position: relative;
    display: block;
    border-bottom: 4px solid #fff;
    margin: 0 auto;
    margin-top: 0.5em;
    width: 3.4em;
}

.desktop-about-desc {
    color: #fff;
    font-family: 'Cormonant Garamond Medium', serif;
    font-size: 1.8em;
    width: 32ch;
    text-align: center;
    margin: 0;
}

.desktop-product-shown-section {
    position: relative;
    bottom: 17vh;
}

.desktop-product-shown-heading {
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    font-size: 6.9em;
    line-height: 1.15em;
    margin-bottom: 0.05em;
}

.desktop-price {
    font-family: 'Social Gothic Demi-Bold';
    position: absolute;
    font-size: 1.5em;
    left: 0.25em;
    display: inline-block;
}

.desktop-product-shown-desc {
    text-align: left;
    font-family: 'Cormonant Garamond Medium', serif;
    font-size: 1.8em;
    letter-spacing: 1px;
    margin-left: 0.2em;
    margin-top: 2em;
}

.desktop-open-cart {
    outline: none;
    border: 0;
    text-transform: uppercase;
    font-family: 'Social Gothic Demi-Bold';
    padding: 0.5em 0.5em;
    font-size: 1.5em;
    position: relative;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 44vw;
    top: 70vh;
    background-color: #fff;
    transition: 0.2s all ease-in-out;
}

.desktop-open-cart:hover {
    transform: scale(1.075);
}

.desktop-product-icons {
    width: auto !important;
    height: auto !important;
    position: relative;
    top: 25vh;
}

.desktop-product-hidden-section {
    position: relative;
    bottom: 18.9vh;
    right: 71.2vw;
}

.desktop-product-hidden-heading {
    text-transform: uppercase;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    font-size: 6.9em;
    line-height: 1.15em;
}

.desktop-product-hidden-section .desktop-price {
    top: 11em;
}

.desktop-open-product-nutrition:hover {
    color: #fff;
    cursor: pointer;
}

.desktop-product-nutrition {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 60vh;
    background-color: rgba(240, 227, 228, 0.95);
}

.desktop-product-nutrition .weight {
    text-align: right;
    line-height: 1.1em;
    font-family: "Open Sans";
    position: absolute;
    display: inline-block;
    right: 11%;
    top: 2%;
}

.desktop-product-nutrition strong {
    font-family: "Social Gothic Bold";
    text-transform: uppercase;
}

.desktop-product-nutrition .heading {
    color: #000;
    line-height: 1.1em;
}

.desktop-product-nutrition .description {
    font-family: "Cormonant Garamond Bold";
    position: relative;
    top: 17%;
    left: 8%;
    width: 85%;
}

.desktop-product-nutrition .description p {
    margin: 0;
    text-align: left;
    letter-spacing: 0.4px;
}

.desktop-product-nutrition i {
    position: absolute;
    right: 4%;
    top: 4%;
    font-size: 2em;
    cursor: pointer;
}

.desktop-product-nutrition .nutrition-table {
    position: relative;
    top: 22%;
    left: 8%;
}

.desktop-product-nutrition .nutrition-table table {
    font-family: "Cormonant Garamond Bold";
    font-size: 1.4em;
    border-left: 3px solid #c7bab6;
    padding-left: 1em;
    position: absolute;
    right: 25%;
    top: 45%;
    padding-left: 1em;
}

.desktop-product-nutrition .nutrition-table th, .desktop-product-nutrition .nutrition-table td {
    text-align: left;
}

.desktop-product-nutrition .nutrition-table th {
    padding-right: 2em;
}

.desktop-product-hidden-desc {
    color: #000;
    position: relative;
    top: 31vh;
    width: 21ch;
    font-size: 1.75em;
    font-family: 'Cormonant Garamond Medium', serif;
}

.desktop-cart {
    position: absolute;
    background: #fff;
    width: 41vw;
    height: 75vh;
    top: 13vh;
    left: 30vw;
    z-index: 3;
}

.desktop-cart i {
    position: relative;
    left: 30vh;
    top: 4vh;
    font-size: 3em;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.desktop-cart i:hover {
    transform: scale(1.2);
}

.desktop-cart h2:first-of-type {
    font-family: 'Social Gothic Bold';
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 3em;
}

.desktop-cart h3 {
    font-family: 'Cormonant Garamond Medium';
    font-size: 1.7em;
}

.desktop-cart h2:nth-of-type(2) {
    font-family: 'Social Gothic Bold';
    text-transform: uppercase;
    font-size: 2.1em;
    margin-top: 6%;
}

.desktop-box-sizes {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    margin-bottom: 2%;
}

.desktop-box-sizes li button {
    background: transparent;
    border: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6em;
    width: 6em;
}

.desktop-box-sizes li button:focus {
    outline: none;
    border: 4px solid #000;
    border-radius: 5px;
}

.desktop-box-sizes li button div {
    display: inline;
}

.desktop-box-sizes li button div strong {
    font-family: 'Social Gothic Bold';
}

.desktop-cart > button:focus {
    outline: none;
    cursor: pointer;
}

.desktop-cart > button:first-of-type {
    border: 3px solid #000;
    background-color: #000;
    color: #fff;
    font-family: 'Social Gothic Demi-Bold';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0.7em 1em;
    border-radius: 0.8em;
    font-size: 1.25em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    transition: 0.2s all ease-in-out;
}

.desktop-cart > button:first-of-type:hover {
    color: #000 !important;
    background-color: #fff;
}

.desktop-cart > button:nth-of-type(2) {
    font-family: 'Social Gothic Demi-Bold';
    background: none;
    border: 0;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1em;
    margin-top: 1%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.desktop-cart > button:nth-of-type(2):hover {
    transform: scale(1.075);
}

.product-second .product-info {
    position: relative;
    top: 20vh;
    left: 11vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.product-second .product-info h1 {
    font-size: 4.5em;
    line-height: 1.1em;
    font-family: "Social Gothic Bold";
}

.product-second .product-info .price {
    font-family: "Social Gothic Demi-Bold";
}

.product-second .product-info .description {
    font-family: "Cormonant Garamond Bold";
    font-size: 1.2em;
    text-align: left;
    width: 25ch;
    margin: 6% 0;
}

.product-second img {
    width: 33% !important;
    height: auto;
    position: relative;
    top: -32%;
    left: 17%;
}

.product-second > button {
    position: absolute;
    top: 82vh;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    outline: 0;
    font-family: 'Social Gothic Demi-Bold';
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 1em;
    cursor: pointer;
}

.product-second-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 52vw;
    height: 59vh;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
}

.product-second-cart h1 {
    font-family: "Social Gothic Bold";
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 0.2em;
}

.product-second-cart p {
    font-family: "Cormonant Garamond Bold";
    font-size: 1.2em;
    margin-top: 0;
}

.product-second-cart .count {
    display: flex;
    justify-content: center;
    position: relative;
    top: 18%;
    left: -8%;
}

.product-second-cart .product-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-second-cart .product-quantities {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -5em;
    right: 1em;
    font-size: 1.2em;
    font-family: "Open Sans";
}

.product-second-cart .product-quantities strong {
    display: inline-block;
    margin-bottom: 1em;
}

.product-second-cart .product-quantities > div {
    margin-bottom: 3em;
    background-color: #fff;
}

.product-second-cart .product-quantities button {
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 1em;
    cursor: pointer;
}

.product-second-cart .product-quantities span {
    padding: 1em;
}

.product-second-cart > button {
    display: block;
    margin: 0 auto;
}

.product-second-cart > button:first-of-type {
    border: 3px solid #000;
    background-color: #000;
    color: #fff;
    font-family: 'Social Gothic Demi-Bold';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0.7em 1em;
    border-radius: 0.8em;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    margin-top: 2em;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.product-second-cart > button:last-of-type {
    font-family: 'Social Gothic Demi-Bold';
    background: none;
    border: 0;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 0.9em;
    margin-top: 2%;
    cursor: pointer;
}

.product-second-cart i {
    position: absolute;
    font-size: 1.5em;
    right: 1em;
    top: 1em;
    cursor: pointer;
}

.desktop-where-to-find-us {
    background-color: #000;
}

.desktop-where-to-find-us h1 {
    font-family: "Social Gothic Demi-Bold";
    font-size: 6em;
    line-height: 1.1em;
    position: relative;
    top: 10vh;
    left: 13vw;
}

.desktop-where-to-find-us h2 {
    font-family: 'Social Gothic Demi-Bold';
    line-height: 1.2em;
    font-size: 3.5em;
    position: absolute;
    top: 10%;
    right: 14%;
}

.desktop-where-to-find-us .desktop-logos {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 18%;
    left: 72%;
}

.desktop-where-to-find-us .desktop-logos img {
    width: 15%;
}

.desktop-where-to-find-us .desktop-bars {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 5%;
}

.desktop-where-to-find-us .desktop-bars img {
    max-width: 100%;
    margin-left: -2%;
    width: 30%;
}

.desktop-contact-main-heading {
    margin: 0;
    font-family: 'Social Gothic Bold';
    font-size: 5.5em;
    line-height: 1.1em;
    position: relative;
    top: 7vh;
    left: 6vw;
}

.desktop-contact-secondary-heading {
    margin: 0;
    font-family: 'Social Gothic Bold';
    font-size: 3.5em;
    line-height: 1.1em;
    position: relative;
    top: 11vh;
    left: 6vw;
}

.desktop-contact form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 42vw;
    position: relative;
    left: 33vw;
    top: -18vh;
    margin: 0;
    margin-bottom: 1vh;
    grid-column-gap: 0.5vw;
    grid-row-gap: 3vh;
}

.desktop-contact form textarea {
    grid-column: 1 / 5;
    grid-row: 3 / 6;
    font-family: 'Cormonant Garamond Bold', serif;
    border: 0;
    opacity: 0.6;
    border-radius: 0 !important;
    -webkit-appearance: none;
    padding: 1em 0.8em;
    font-size: 1.75em;
    width: 32vw;
}

.desktop-contact form textarea:focus {
    outline: none;
    opacity: 1;
}

.desktop-contact form label {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    cursor: pointer;
}

.desktop-contact form label input {
    margin-right: 2%;
    cursor: pointer;
}

.desktop-contact form label a {
    color: #fff;
}

.desktop-contact form button {
    position: relative;
    grid-row: 7 / 8;
    grid-column: 2 / 4;
    border: 0;
    opacity: 0.9;
    background-color: #000;
    color: #fff;
    font-family: 'Social Gothic Demi-Bold';
    text-transform: uppercase;
    font-size: 2em;
    border-radius: 0 !important;
    -webkit-appearance: none;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.desktop-contact form button:hover {
    transform: scale(1.05);
}

.desktop-contact form button:focus {
    outline: none;
}

.desktop-contact form > input {
    font-family: 'Cormonant Garamond Bold', serif;
    font-size: 1em;
    border: 0;
    opacity: 0.6;
    color: #000;
    border-radius: 0 !important;
    -webkit-appearance: none;
    width: 15vw;
    font-size: 1.75em;
    padding: 1em 0.8em;
}

.desktop-contact form input:focus {
    outline: none;
    opacity: 1;
}

.desktop-contact form input[name="name"] {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-transform: capitalize;
}

.desktop-contact form input[name="email"] {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.desktop-contact form input[name="phone"] {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.desktop-contact form input[name="subject"] {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.desktop-contact-methods {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 65%;
    left: 6vw;
    font-size: 1.1rem;
}

.desktop-contact-methods a {
    color: #fff;
    font-family: "Social Gothic Demi-Bold";
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.desktop-contact-methods a:hover {
    opacity: 0.3;
    transform: scale(0.9);
}

.desktop-sent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    font-family: 'Social Gothic Bold';
    opacity: 0.85;
    text-transform: uppercase;
    text-align: center;
    width: 21vw;
    height: 34vh;
    font-size: 2em;
    padding-top: 12vh;
    margin: 0;
}

@media (max-width: 1850px) {

    .desktop-intro-hidden-section  {
        right: 44.5vw;
    }
    
}

@media (max-width: 1800px) {

    .desktop-where-to-find-us .desktop-bars img {
        width: 27%;
        height: 19%;
    }

}

@media (max-width: 1780px) {

    .desktop-intro-hidden-section  {
        right: 41vw;
    }
    
}

@media (max-width: 1740px) {

    .desktop-intro-hidden-section  {
        right: 39vw;
    }
    
}

@media (max-width: 1675px) {

    .desktop-intro-hidden-section  {
        right: 36.5vw;
    }
    
}

@media (max-width: 1650px), (max-height: 850px) {

    .desktop-product-shown-section {
        font-size: 0.8em;
    }

    .desktop-product-hidden-section {
        font-size: 0.9em;
        right: 69vw;
    }

    .desktop-open-cart {
        font-size: 1.35em;
    }

    .desktop-product-icons[src="/img/desktop/three-icons.png"] {
        width: 17.5em !important;
        height: 12.5em !important;
    }

    .desktop-product-icons[src="/img/desktop/four-icons.png"] {
        width: 21em !important;
        height: 12em !important;
    }

    .desktop-product-icons[src="/img/desktop/five-icons.png"] {
        width: 27em !important;
        height: 13em !important;
    }
}

@media (max-width: 1600px) {

    .desktop-cart {
        font-size: 0.85em;
        height: 70vh;
    }

    .desktop-intro-hidden-section  {
        right: 34.5vw;
    }

    .desktop-where-to-find-us .desktop-bars img {
        width: 25%;
    }

}

@media (max-width: 1530px) {

    .desktop-open-cart {
        font-size: 1.1em;
    }

}

@media (max-width: 1700px), (max-height: 1000px) {

    .desktop-contact-main-heading {
        font-size: 5em;
    }

    .desktop-contact-secondary-heading {
        font-size: 3em;
    }

    .desktop-contact form {
        font-size: 0.85em;
        top: -14vh;
        left: 33vw;
    }

    .desktop-contact form input {
        font-size: 1.45em;
    }

    .desktop-contact form textarea {
        font-size: 1.45em;
    }

    .desktop-contact button[type="submit"] {
        font-size: 1.6em;
    }

}

@media (max-height: 900px) {

    .desktop-intro-shown .desktop-intro-icons {
        position: relative;
        bottom: 2vh;
    }

    .desktop-intro-hidden-section .desktop-intro-icons {
        top: 5.5vh;
    }

    .desktop-product-nutrition {
        font-size: 0.9em;
    }

    .product-second-cart {
        height: 63vh;
        font-size: 0.8em;
    }

}

@media (max-height: 850px) {

    .desktop-intro-hidden-section .desktop-intro-icons {
        top: 6.5vh;
    }
    
    .desktop-sent {
        padding-top: 8vh;
    }

}

@media (max-height: 800px) {
    
    .desktop-product-nutrition {
        font-size: 0.75em;
    }

}

@media (max-height: 750px) {

    .desktop-intro-hidden-section .desktop-intro-icons {
        top: 5vh;
    }

}

@media (max-width: 1500px) {
    
    .burger {
        font-size: 0.6em;
    }

    .desktop-cart {
        font-size: 0.7em;
    }

}

@media (max-width: 1450px) {

    .desktop-intro-hidden-section {
        right: 32vw;
    }
    
    .desktop-intro-hidden-text {
        font-size: 0.9em;
    }

    .desktop-intro-shown .desktop-intro-icons {
        position: relative;
        bottom: 1.5em;
    }

}

@media (max-width: 1430px), (max-height: 650px) {

    .desktop-where-to-find-us h1 {
        font-size: 5.25em;
    }

    .desktop-product-hidden-section {
        font-size: 0.8em;
        right: 71vw;
    }

}

@media (max-width: 1400px), (max-height: 750px) {

    .desktop-intro-first-heading {
        font-size: 4.2em;
    }    

    .desktop-intro-left-section {
        font-size: 0.8em;
    }

    .desktop-intro-shown .desktop-intro-icons {
        top: 1.75em;
    }

}

@media (max-width: 1375px) {

    .desktop-intro-hidden-section {
        right: 30vw;
    }

    .product-second-cart .count {
        left: -9%;
    }

}

@media (max-width: 1330px), (max-height: 820px) {

    .desktop-intro-shown .desktop-intro-icons {
        top: -0.75em;
    }
    
    .desktop-intro-icons {
        width: 42% !important;
        height: 21% !important;
    }

    .desktop-intro-hidden-section {
        right: 28.5vw;
    }
    
    .desktop-intro-hidden-text {
        font-size: 0.8em;
    }

    .desktop-logo {
        width: 11.4em !important;
        height: 2em !important;
        margin-left: 0;
    }
    
    .desktop-product-shown-section {
        font-size: 0.7em;
        left: -2vw;
    }   

    .desktop-product-hidden-section {
        font-size: 0.7em;
        right: 70vw;
    }

}

@media (max-width: 1275px) {

    .desktop-intro-hidden-section {
        right: 24.5vw;
    }

}

@media (max-width: 1250px) {

    .desktop-contact form {
        left: 40vw;
    }

}

@media (max-width: 1225px) {

    .desktop-intro-hidden-section {
        right: 21.75vw;
    }

}

@media (max-width: 1200px) {

    .desktop-intro-right-section {
        right: 2.5vw !important;
    }

    .desktop-cart {
        font-size: 0.6em;
        height: 65vh;
        top: 18vh;
    }

    .desktop-cart i {
        left: 25vh;
    }

    .product-second {
        font-size: 0.85em;
    }

}

@media (max-width: 1175px) {

    .desktop-intro-hidden-section {
        right: 19.5vw;
    }

}

@media (max-width: 1150px), (max-height: 600px) {

    .desktop-product-shown-section {
        font-size: 0.6em;
    }

    .desktop-product-hidden-section {
        font-size: 0.6em;
    }

    .desktop-open-cart {
        font-size: 1em;
    }

    .desktop-product-nutrition .nutrition-table table {
        right: 20%;
    }

}

@media (max-width: 1125px) {

    .desktop-intro-company-desc {
        width: 50ch;
    }
    
    .desktop-intro-hidden-section {
        right: 14.5vw;
        top: 1vh;
    }

    .desktop-intro-hidden-section .desktop-intro-icons {
        top: -4vh;
    }

}

@media (max-width: 1075px) {

    .desktop-intro-hidden-section {
        right: 12vw;
    }

}

@media (max-width: 1050px), (max-height: 750px) {

    .desktop-contact-main-heading {
        font-size: 4em;
    }

    .desktop-contact-secondary-heading {
        font-size: 2em;
    }

    .desktop-contact form {
        left: 38vw;
        font-size: 0.7em;
        top: -2vh;
    }

    .desktop-contact form input {
        font-size: 1.25em;
    }

    .desktop-contact form textarea {
        font-size: 1.25em;
    }

    .desktop-contact button[type="submit"] {
        font-size: 1.3em;
    }

}

@media (max-width: 1025px) {

    .desktop-intro-hidden-section {
        right: 7.5vw;
    }

    .desktop-intro-company-desc {
        width: 45ch;
    }

    .desktop-intro-hidden-section .desktop-intro-icons {
        top: -8vh;
    }

    .desktop-intro-second {
        margin-top: -2em;
    }

    .desktop-intro-second-content {
        font-size: 1em;
    }

}

@media (max-width: 1000px), (max-height: 750px) {

    .burger {
        font-size: 0.45em;
    }

    .desktop-about-page-content {
        font-size: 0.75em;
    }

    .desktop-section .control-dots .dot {
        width: 0.75em;
        height: 0.75em;
    }

}

@media (max-height: 720px) {

    .product-second-cart .count {
        margin-bottom: 2.5em;
    }

}

@media (max-width: 1000px), (max-height: 700px) {

    .desktop-intro-icons {
        width: 36% !important;
        height: 18% !important;
    }

    .desktop-intro-shown .desktop-intro-icons {
        top: -2.4em;
    }

    .desktop-intro-hidden-text {
        font-size: 0.7em;
    }

    .desktop-intro-hidden-section .desktop-intro-icons {
        top: -5vh;
    }

}

@media (max-width: 1000px) {

    .product-second .product-info h1 {
        font-size: 3.75em;
    }

}

@media (max-height: 700px) {

    .desktop-product-nutrition {
        font-size: 0.6em;
    }

}

@media (max-width: 1000px), (max-height: 500px) {

    .desktop-intro-hidden-section {
        right: 5vw;
    }

    .desktop-product-shown-section {
        font-size: 0.45em;
    }

    .desktop-product-hidden-section {
        font-size: 0.5em;
        right: 71vw;
    }

    .desktop-open-cart {
        font-size: 0.8em;
    }

}

@media (max-width: 950px), (max-height: 590px) {

    .desktop-intro-first-heading {
        font-size: 3em;
    }

    .desktop-intro-shown .desktop-intro-icons {
        top: -0.25em;
    }

    .desktop-intro-hidden-section {
        right: 0vw;
        top: -1vh;
    }

    .desktop-intro-hidden-text {
        font-size: 0.65em;
    }

}

@media (max-width: 900px) {

    .desktop-product-hidden-section {
        font-size: 0.45em;
    }

    .desktop-product-shown-section {
        left: -3.5vw;
    }

    .product-second-cart {
        width: 60vw;
    }

}

@media (max-width: 900px), (max-height: 550px) {

    .desktop-intro-hidden-section {
        right: -3vw;
        top: 2vh;
    }
    
    .desktop-intro-hidden-text {
        font-size: 0.55em;
    }

}

@media (max-width: 900px), (max-height: 650px) {

    .desktop-cart {
        font-size: 0.5em;
    }

    .desktop-cart i {
        left: 23vh;
    }

}

@media (max-width: 850px), (max-height: 600px) {

    .desktop-contact-main-heading {
        font-size: 3em;
    }

    .desktop-contact-secondary-heading {
        font-size: 1.5em;
    }

    .desktop-contact form {
        left: 36vw;
        font-size: 0.6em;
        top: 5vh;
    }

    .desktop-contact form input {
        font-size: 1.1em;
    }

    .desktop-contact form textarea {
        font-size: 1.1em;
    }

}

@media (max-width: 850px), (max-height: 500px) {

    .desktop-intro-first-heading {
        font-size: 2.5em;
    }
    
    .desktop-section > div[data-testid="container"] div:nth-of-type(2) div i {
        font-size: 0.75em;
    }

}

@media (max-width: 850px) {

    .desktop-product-hidden-section {
        font-size: 0.4em;
    }

}

@media (max-width: 800px) {

    .desktop-sent {
        font-size: 1.5em;
    }

    .product-second {
        font-size: 0.65em;
    }
    
    .product-second-cart .count {
        left: -17%;
    }

    .product-second-cart .product-quantities > div {
        margin-bottom: 5em;
    }

}

@media (max-height: 500px) {

    .desktop-contact form {
        top: -1vh;
    }

}

@media (max-width: 765px) {

    .product-second-cart {
        width: 62vw;
    }

}

@media (max-width: 750px) {

    .desktop-product-shown-section {
        font-size: 0.4em;
        left: -5vw;
    }
    
    .desktop-product-hidden-section {
        right: 69vw;
    }

}

@media (max-width: 750px), (max-height: 600px) {

    .desktop-cart {
        font-size: 0.35em;
        height: 53vh;
        top: 28vh;
    }

    .desktop-cart i {
        left: 21vh;
    }

}

@media (max-width: 745px), (max-height: 415px) {

    .desktop-logo {
        width: 15.5em !important;
        height: 2.7em !important;
        margin-left: -4%;
    }

}

@media (max-width: 700px) {

    .desktop-product-hidden-section {
        font-size: 0.35em;
        right: 71vw;
    }

    .product-second-cart {
        width: 67vw;
    }

}

@media (max-width: 650px) {

    .desktop-product-shown-section {
        font-size: 0.35em;
    }
    
    .desktop-product-hidden-section {
        font-size: 0.3em;
    }

    .desktop-contact form label {
        font-size: 0.5rem;
    }

    .desktop-contact-methods a {
        font-size: 0.8rem;
    }

    .product-second-cart {
        width: 100vw;
        height: 100vh;
    }

    .product-second-cart > h1 {
        margin-top: 6em;
    }

    .product-second-cart .count {
        top: 16%;
    }

    .product-second-cart > button:first-of-type {
        margin-top: 9em;
    }

}

@media (max-width: 650px), (max-height: 500px) {

    .desktop-cart {
        font-size: 0.25em;
        height: 46vh;
        width: 38vw;
        top: 28vh;
        left: 32vw;
    }

    .desktop-cart i {
        left: 18vh;
    }

}

@media (max-width: 600px) {

    .desktop-contact-main-heading {
        font-size: 2em;
    }

    .desktop-contact-secondary-heading {
        font-size: 1.25em;
    }

    .desktop-contact form {
        width: 50vw;
        grid-column-gap: 0;
    }

    .desktop-contact form input {
        width: 16vw;
    }

    .desktop-contact form textarea {
        width: 36vw;
    }

    .product-second {
        font-size: 0.5em;
    }

    .product-second > img {
        top: -22%;
    }

}

@media (max-width: 550px) {

    .desktop-sent {
        font-size: 1.1em;
    }

}

@media (max-width: 450px) {

    .product-second {
        font-size: 0.8em;
    }

    .product-second > img {
        display: none !important;
    }

    .product-second .product-info {
        top: 10vh;
        left: 15vw;
        align-items: end;
    }

    .product-second > img {
        width: 64% !important;
        position: static;
    }

    .product-second > button {
        top: 58vh;
        font-size: 1.2em;
    }

    .product-second .product-info button {
        margin-top: 34%;
        left: 17% !important;
    }

    .product-second-cart .product-pics {
        width: 69%;
    }

    .product-second-cart .product-pics img:first-of-type {
        margin-bottom: 5em;
    }

    .product-second-cart > button:first-of-type {
        margin-top: 5em;
        margin-bottom: 2em;
    }

    .product-second-cart i {
        font-size: 2.5em;
        top: 1.5em;
        right: 1.5em;
    }

}

@media (min-width: 450px) {

    .product-second .product-info img {
        display: none !important;
    }

}

/* 

    mobile product-second

 */

@media (max-height: 780px) {

    .product-second > button {
        font-size: 1.1em !important;
    }

}

@media (max-height: 760px) {

    .product-second .product-info button {
        margin-top: 30%;
    }

}

@media (max-height: 730px) {

    .product-second .product-info {
        top: 7vh;
        left: 17vw;
    }

    .product-second > button {
        font-size: 1em !important;
    }

    .product-second .product-info button {
        margin-top: 26%;
    }

}

@media (max-height: 700px) {

    .product-second button {
        font-size: 0.9em !important;
    }

}

@media (max-height: 635px) {

    .product-second .product-info h1 {
        font-size: 3em;
    }

}

@media (max-height: 620px) {

    .product-second-cart > button:first-of-type {
        margin-top: 3em;
        margin-bottom: 2em;
    }

    .product-second-cart h1 {
        margin-top: 4.5em;
    }

}