@font-face {
    font-family: 'Social Gothic Demi-Bold';
    src: url('../fonts/SocialGothicDemiBold.otf');
}

@font-face {
    font-family: 'Social Gothic Bold';
    src: url('../fonts/SocialGothicBold.otf');
}

@font-face {
    font-family: 'Cormonant Garamond Light';
    src: url('../fonts/CormorantGaramond-Light.ttf');
}

@font-face {
    font-family: 'Cormonant Garamond Medium';
    src: url('../fonts/CormorantGaramond-Medium.ttf');
}

@font-face {
    font-family: 'Cormonant Garamond Bold';
    src: url('../fonts/CormorantGaramond-Bold.ttf');
}

*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    margin: 0;
}

.desktop-components-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.desktop-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100vw;
    height: 100vh;
}

.desktop-section img {
    width: 100vw;
    height: 100vh;
}

div[data-testid="container"] {
    width: 100vw !important;
    height: 100vh !important;
}

div[data-testid="container"] div:nth-of-type(1) {
    cursor: move !important;
}

/* image label styles */
div[data-testid="container"] div:nth-of-type(2) div {
    background-color: transparent !important;
    opacity: 1 !important;
}

.desktop-section > div[data-testid="container"] div:nth-of-type(2) div {
    top: 68% !important;
}

.desktop-heading {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}

.desktop-intro-first-heading {
    background-color: transparent !important;
    font-family: "Social Gothic Bold";
    font-size: 5em;
    line-height: 1.1em;
}

div[data-testid="container"] div:nth-of-type(3) div {
    opacity: 1 !important;
    text-align: left;
    background-color: transparent !important;
}

.desktop-right-section {
    text-align: left;
    position: relative;
    right: 17em !important;
    top: -6em !important;
}

.desktop-intro-second-heading {
    font-size: 5em;
    font-family: 'Social Gothic Bold', sans-serif;
    margin-bottom: 0;
    left: 0;
}

.desktop-logo {
    width: 50% !important;
    height: 5% !important;
    margin-left: -2%;
}

.desktop-intro-company-desc {
    font-family: 'Cormonant Garamond Medium';
    font-size: 1.4em;
    width: 38ch;
}

.desktop-left-section {
    position: absolute;
    top: 30%;
    right: 318%;
}

.desktop-intro-hidden-heading {
    font-family: 'Social Gothic Bold';
    font-size: 2.8em;
    line-height: 1.3em;
}

.desktop-icons {
    display: flex;
}

.desktop-icons img {
    width: 39%;
    height: 5%;
    margin-left: 7%;
}

.desktop-icons img:first-child {
    margin-left: 0;
}

.desktop-icons-labels {
    display: flex;
    margin-top: 2%;
    letter-spacing: 0.4px;
}

.desktop-icons-labels strong {
    text-align: center;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    text-transform: uppercase;
}

.desktop-icons-labels strong:first-child {
    margin-left: 8.5%;
}

.desktop-icons-labels strong:nth-child(2) {
    margin-left: 19%;
}

.desktop-icons-labels strong:nth-child(3) {
    margin-left: 9%;
}

.desktop-about-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 22%;
}

.desktop-about-icon {
    width: 8% !important;
    height: 8% !important;
}

.desktop-about-heading {
    font-family: 'Social Gothic Bold', sans-serif;
    text-align: center;
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 1.5%;
}

.desktop-about-heading::after {
    content: "";
    background-color: #fff;
    position: relative;
    display: block;
    border-bottom: 4px solid #fff;
    margin: 0 auto;
    margin-top: 0.5em;
    width: 3.4em;
}

.desktop-about-desc {
    color: #fff;
    font-family: 'Cormonant Garamond Medium', serif;
    font-size: 1.6em;
    width: 32ch;
    text-align: center;
    margin: 0;
}

.desktop-product-shown-section {
    position: relative;
    bottom: 17.8vh;
}

.desktop-product-shown-heading {
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    font-size: 6.9em;
    line-height: 1.15em;
    margin-bottom: 0.4em;
}

.desktop-product-shown-desc {
    text-align: left;
    font-family: 'Cormonant Garamond Medium', serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-left: 0.2em;
}

.desktop-product-icons {
    width: 21em !important;
    height: auto !important;
    position: relative;
    top: 25vh;
    left: 1vh;
}

.desktop-product-hidden-section {
    position: relative;
    bottom: 21.8vh;
    right: 425%;
}

.desktop-product-hidden-heading {
    text-transform: uppercase;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    font-size: 6.9em;
    line-height: 1.15em;
}

.desktop-product-hidden-desc {
    color: #000;
    position: relative;
    top: 26vh;
    width: 21ch;
    font-size: 1.7em;
    font-family: 'Cormonant Garamond Medium', serif;
}





