@font-face {
    font-family: 'Social Gothic Demi-Bold';
    src: url('../fonts/SocialGothicDemiBold.otf');
}

@font-face {
    font-family: 'Social Gothic Bold';
    src: url('../fonts/SocialGothicBold.otf');
}

@font-face {
    font-family: 'Cormonant Garamond Light';
    src: url('../fonts/CormorantGaramond-Light.ttf');
}

@font-face {
    font-family: 'Cormonant Garamond Medium';
    src: url('../fonts/CormorantGaramond-Medium.ttf');
}

@font-face {
    font-family: 'Cormonant Garamond Bold';
    src: url('../fonts/CormorantGaramond-Bold.ttf');
}

@keyframes intro-right-arrow {
    
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }

}

@keyframes intro-left-arrow {
    
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-10px, 0);
    }

}

*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    margin: 0;
}

.desktop-components-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.desktop-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100vw;
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.desktop-section img {
    width: 100vw;
    height: 100vh;
}

.desktop-section .control-dots .dot {
    width: 3em;
    height: 3em;
}

div[data-testid="container"] {
    width: 100vw !important;
    height: 100vh !important;
}

/* image label styles */
div[data-testid="container"] div:nth-of-type(2) div {
    background-color: transparent !important;
    opacity: 1 !important;
}

.desktop-section > div[data-testid="container"] div:nth-of-type(2) div {
    top: 68% !important;
}



.intro-right-arrow {
    animation: intro-right-arrow 1s ease-in-out infinite;
}

.intro-left-arrow {
    animation: intro-left-arrow 1s ease-in-out infinite;
}

.desktop-heading {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}

.desktop-intro-first-heading {
    background-color: transparent !important;
    font-family: "Social Gothic Bold";
    font-size: 5em;
    line-height: 1.1em;
}

div[data-testid="container"] div:nth-of-type(3) div {
    opacity: 1 !important;
    text-align: left;
    background-color: transparent !important;
}

.desktop-intro-right-section {
    text-align: left;
    position: relative;
    right: 9vw !important;
    top: -3vh !important;
    font-size: 1.1em;
}

.desktop-intro-second-heading {
    font-size: 5em;
    font-family: 'Social Gothic Bold', sans-serif;
    margin-bottom: 0;
    left: 0;
}

.desktop-logo {
    width: 50% !important;
    height: 5% !important;
    margin-left: -2%;
}

.desktop-intro-company-desc {
    font-family: 'Cormonant Garamond Medium';
    font-size: 1.4em;
    width: 38ch;
}

.desktop-intro-left-section {
    position: absolute;
    top: 26vh;
    right: 76vw;
}

.desktop-intro-hidden-heading {
    font-family: 'Social Gothic Bold';
    font-size: 2.8em;
    line-height: 1.3em;
}

.desktop-icons {
    display: flex;
}

.desktop-icons img {
    width: 39%;
    height: 5%;
    margin-left: 7%;
}

.desktop-icons img:first-child {
    margin-left: 0;
}

.desktop-icons-labels {
    display: flex;
    margin-top: 2%;
    letter-spacing: 0.4px;
}

.desktop-icons-labels strong {
    text-align: center;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    text-transform: uppercase;
}

.desktop-icons-labels strong:first-child {
    margin-left: 8.5%;
}

.desktop-icons-labels strong:nth-child(2) {
    margin-left: 19%;
}

.desktop-icons-labels strong:nth-child(3) {
    margin-left: 9%;
}

.desktop-about-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 22%;
}

.desktop-about-icon {
    width: 8% !important;
    height: 8% !important;
}

.desktop-about-heading {
    font-family: 'Social Gothic Bold', sans-serif;
    text-align: center;
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 1.5%;
}

.desktop-about-heading::after {
    content: "";
    background-color: #fff;
    position: relative;
    display: block;
    border-bottom: 4px solid #fff;
    margin: 0 auto;
    margin-top: 0.5em;
    width: 3.4em;
}

.desktop-about-desc {
    color: #fff;
    font-family: 'Cormonant Garamond Medium', serif;
    font-size: 1.8em;
    width: 32ch;
    text-align: center;
    margin: 0;
}

.desktop-product-shown-section {
    position: relative;
    bottom: 17vh;
}

.desktop-product-shown-heading {
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    font-size: 6.9em;
    line-height: 1.15em;
    margin-bottom: 0.4em;
}

.desktop-product-shown-desc {
    text-align: left;
    font-family: 'Cormonant Garamond Medium', serif;
    font-size: 1.8em;
    letter-spacing: 1px;
    margin-left: 0.2em;
}

.desktop-open-cart {
    outline: none;
    text-transform: uppercase;
    font-family: 'Social Gothic Demi-Bold';
    padding: 0.5em 1em;
    font-size: 1.5em;  
    position: relative;
    cursor: pointer;
}

.desktop-product-shown-section .desktop-open-cart {
    background: #fff;
    border: 0;
    top: 5vh;
}

.desktop-product-hidden-section .desktop-open-cart {
    border: 0;
    top: 16vh;
    color: #fff;
}

.desktop-product-icons {
    width: 21em !important;
    height: auto !important;
    position: relative;
    top: 25vh;
    left: -13vw;
}

.desktop-product-hidden-section {
    position: relative;
    bottom: 17.4vh;
    right: 71.2vw;
}

.desktop-product-hidden-heading {
    text-transform: uppercase;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    font-size: 6.9em;
    line-height: 1.15em;
}

.desktop-product-hidden-desc {
    color: #000;
    position: relative;
    top: 26vh;
    width: 21ch;
    font-size: 1.75em;
    font-family: 'Cormonant Garamond Medium', serif;
}

.desktop-cart {
    position: absolute;
    background: #fff;
    width: 41vw;
    height: 69vh;
    top: 13vh;
    left: 30vw;
}

.desktop-cart i {
    position: relative;
    left: 36vh;
    top: 4vh;
    font-size: 3em;
    cursor: pointer;
}

.desktop-cart h2:first-of-type {
    font-family: 'Social Gothic Bold';
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 3em;
}

.desktop-cart h3 {
    font-family: 'Cormonant Garamond Medium';
    font-size: 1.7em;
}

.desktop-cart h2:nth-of-type(2) {
    font-family: 'Social Gothic Bold';
    text-transform: uppercase;
    font-size: 2.1em;
    margin-top: 6%;
}

.desktop-box-sizes {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    margin-bottom: 6%;
}

.desktop-box-sizes li button {
    background: transparent;
    border: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6em;
}

.desktop-box-sizes li button:focus {
    outline: none;
    border: 4px solid #000;
    border-radius: 5px;
}

.desktop-box-sizes li button strong {
    font-family: 'Social Gothic Bold';
}

.desktop-cart > button:focus {
    outline: none;
    cursor: pointer;
}

.desktop-cart > button:first-of-type {
    border: none;
    background-color: #000;
    color: #fff;
    font-family: 'Social Gothic Demi-Bold';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0.7em 1em;
    border-radius: 0.8em;
    font-size: 1.25em;
    cursor: pointer;
}

.desktop-cart > button:nth-of-type(2) {
    font-family: 'Social Gothic Demi-Bold';
    background: none;
    border: 0;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1em;
    margin-top: 4%;
    cursor: pointer;
}


