@font-face {
    font-family: 'League Spartan Bold';
    src: url('../fonts/LeagueSpartan-Bold.otf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}

.body {
    overflow-x: hidden;
}

.final-check {
    margin-top: 5vh;
}

.final-check h1 {
    font-family: 'League Spartan Bold';
    text-align: center;
}


.final-check h2 {
    font-family: 'League Spartan Bold';
    text-align: center;
    margin-top: 6vh;
}

.final-check .products-to-purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.final-check .products-to-purchase li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23.5vw;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 1.2em;
}

.final-check .products-to-purchase li img {
    width: 7vw;
}

.final-check .products-to-purchase li:last-child {
    padding-left: 1em;
    margin-top: 1em;
}

.final-check .continue {
    margin: 4vh auto;
    display: block;
    color: #fff;
    border: 3px solid #000;
    background-color: #000;
    font-family: 'Open Sans Bold';
    font-size: 1em;
    padding: 1.5em;
    border-radius: 2.2em;
    transition: all .15s ease-in-out;
}

.final-check .continue:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.final-check .continue:focus {
    outline: none;
}

@media (max-width: 1450px) {

    .final-check .products-to-purchase li {
        width: 26.5vw;
    }

}

@media (max-width: 1250px) {

    .final-check .products-to-purchase {
        margin-top: 8vh;
    }

    .final-check .products-to-purchase li {
        width: 29.5vw;
    }

}

@media (max-width: 1050px) {

    .final-check {
        margin-top: 8vh;
    }

    .final-check .products-to-purchase li {
        width: 32.5vw;
    }

}

@media (max-width: 950px) {

    .final-check .products-to-purchase li {
        width: 39.5vw;
    }

}

@media (max-width: 800px) {

    .final-check .products-to-purchase li img {
        width: 9vw;
    }

}

@media (max-width: 720px) {

    .final-check .products-to-purchase li {
        width: 44.5vw;
    }

    .final-check .products-to-purchase li img {
        width: 12vw;
    }

}

@media (max-width: 500px) {

    .final-check {
        font-size: 0.8em;
    }

}

@media (max-width: 400px) {

    .final-check {
        font-size: 0.7em;
    }

    .final-check .products-to-purchase li {
        width: 47.5vw;
    }

    .final-check .products-to-purchase li img {
        width: 14vw;
    }

}

@media (max-width: 360px) {

    .final-check h1 {
        font-size: 1.65em;
    }

}