@font-face {
    font-family: 'Social Gothic Demi-Bold';
    src: url('../fonts/SocialGothicDemiBold.otf');
}

@font-face {
    font-family: 'Social Gothic Bold';
    src: url('../fonts/SocialGothicBold.otf');
}

@font-face {
    font-family: 'Cormonant Garamond Light';
    src: url('../fonts/CormorantGaramond-Light.ttf');
}

@font-face {
    font-family: 'Cormonant Garamond Medium';
    src: url('../fonts/CormorantGaramond-Medium.ttf');
}

@font-face {
    font-family: 'Cormonant Garamond Bold';
    src: url('../fonts/CormorantGaramond-Bold.ttf');
}

@keyframes fadeIn {
    
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }

}

*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    width: 100vw;
    height: 100vh;
}

.carousel-status {
    display: none;
}

.mobile-components-container {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}

.component {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    overflow-x: hidden;
}

.intro .carousel .control-dots {
    display: none;
}

.about .carousel .control-dots {
    display: none;
}

.contact .carousel .control-dots {
    display: none;
}

.section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.slide {
    background-color: red;
}

.slide:nth-child(1) .section .slide-selectors,
.slide:nth-child(2) .section .slide-selectors, 
.slide:nth-child(4) .section .slide-selectors,
.slide:nth-child(5) .section .slide-selectors {
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-45%);
}

.slide:nth-child(3) .section .slide-selectors {
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
}

.slide:nth-child(3) .section .slide-selectors button i {
    position: relative;
    top: 9%;
    color: #000;
}

.slide-selectors button {
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 300;
    font-size: 2em;
}

.slide-selectors button:hover {
    cursor: pointer;
}

.slide-selectors button:focus {
    border: none;
    outline: none;
}

.control-arrow {
    display: none;
}

.thumbs-wrapper {
    display: none;
}

.heading {
    color: #fff;
    margin: 0;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    text-transform: uppercase;
    text-align: left;
    position: relative;
}

.intro-first-heading {
    position: relative;
    line-height: 1.1em;
    font-size: 2.5em;
    top: 55%;
    left: 8%;
}

.intro-second-heading {
    position: relative;
    top: 4%;
    left: 15%;
    font-size: 3em;
    color: #000;
}

.logo-first {
    width: 35% !important;
    position: absolute;
    top: 2%;
    left: 8%;
}

.slide:nth-child(3) .section .logo-first {
    width: 40% !important;
    top: 1%;
    left: -20%;
    margin-top: 8%;
    position: relative;
}

.company-desc {
    position: relative;
    top: 4%;
    font-size: 1.075em;
}

.company-desc-p {
    font-family: 'Cormonant Garamond Medium';
    margin: 0 auto;
    width: 80%;
    text-align: left;
    font-size: 1.1em;
}

img[src="/img/mobile/icons-black.png"] {
    width: 50% !important;
    position: absolute;
    bottom: 22.5%;
    left: 50%;
    transform: translateX(-50%);
}

.logo-vertical {
    height: 28.5%;
    width: 9% !important;
    position: absolute;
    top: 57%;
    right: 3%;
}

.section-2-icon {
    width: 6.5em !important;
    height: auto;
    margin: 0 auto;
    display: block !important;
    top: 24%;
    position: relative;
}

.section-2-heading {
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    letter-spacing: 0.7px;
    font-size: 1.7em;
    top: 23%;
}

.section-2-heading:after {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 59px;
    left: 34%;
    height: 2px;
    width: 33%;
}

.section-2-text {
    color: #fff;
    font-family: 'Cormonant Garamond Medium';
    font-size: 1.2em;
    margin: 0% 9%;
    letter-spacing: 0.35px;
    position: relative;
    top: 26%;
}

.next-section-link {
    text-transform: uppercase;
    font-family: 'Social Gothic Demi-Bold';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.55em;
}

.next-section-logo {
    position: relative;
    width: 38% !important;
    top: 4%;
}

.carousel .control-dots .dot {
    opacity: .2;
    box-shadow: none;
    background: #fff;
    width: 1em;
    height: 1em;
    margin: 0 0.2em;
    outline: none;
}

.carousel .control-dots .dot:hover {
    opacity: 1;
}

.carousel .control-dots .dot:focus {
    outline: none;
}

.dot.selected {
    opacity: 1;
}

.slide-bg {
    position: absolute;
    left: 0;
    height: 100vh;
}

.product-bg {
    height: 100%;
}

.product-heading {
    margin: 0;
    font-family: 'Social Gothic Bold';
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    top: 18%;
    left: 9.5%;
    font-size: 4em;
    line-height: 1.1em;
}

.price {
    position: absolute;
    left: 10.5%;
    top: 36.5%;
    display: block;
    font-family: 'Social Gothic Demi-Bold';
}

.product {
    width: 106vw !important;
    position: relative;
    top: 36.5vh;
}

.open-cart {
    display: block;
    position: relative;
    top: 33%;
    color: #fff;
    display: flex;
    border: 2px solid #fff;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 2.5em;
    margin: 0 auto;
    background-color: #fff;
}

.open-cart:hover {
    cursor: pointer;
}

.open-cart button {
    background-color: transparent;
    border: none;
    font-family: 'Social Gothic Demi-Bold', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.open-cart button:focus {
    border: none;
    outline: none;
}

.cart {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    opacity: 0.95;
}

.cart i {
    position: relative;
    left: 39%;
    display: inline-block;
    margin-top: 25%;
    font-size: 1.5em;
    cursor: pointer;
}

.cart h2 {
    font-family: 'Social Gothic Demi-Bold';
    text-transform: uppercase;
    margin-top: 3%;
}

.cart h3 {
    font-family: 'Cormonant Garamond Medium';
    margin-top: -3%;
}

.box-sizes {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    margin-top: -1%;
    margin-bottom: 2%;
}

.box-sizes li button {
    background: transparent;
    border: 0;
    font-size: 1.2em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.box-sizes li button.active {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: transparent;
}

.box-sizes li button strong {
    font-family: 'Social Gothic Bold';
}

.cart > button:focus {
    outline: none;
    cursor: pointer;
}

.cart > button:first-of-type {
    margin: 5% 0;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: 'Social Gothic Demi-Bold';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0.7em 1em;
    border-radius: 0.8em;
    font-size: 0.95em;
    text-decoration: underline;
}

.cart > button:nth-of-type(2) {
    font-family: 'Social Gothic Demi-Bold';
    background: none;
    border: 0;
    text-transform: uppercase;
    text-decoration: underline;
}

.display-block {
    display: block !important;
}

.product-desc {
    color: #fff;
    text-align: left;
    font-family: 'Cormonant Garamond Medium';
    position: relative;
    top: 32%;
    left: 12%;
    font-size: 1.25em;
    letter-spacing: 0.45px;
}

.product-icons {
    width: 61% !important;
    height: auto;
    position: relative;
    display: block !important;
    top: 29%;
    margin: 0;
    left: 1%;
}

.control-dots {
    bottom: 3.5% !important;
}

.product-icons[src="/img/mobile-five-icons.png"] {
    left: 3%;
}

.where-to-find-us h1 {
    position: relative;
    top: 5%;
    left: 22%;
    line-height: 1.1em;
    font-size: 3em;
}

.where-to-find-us .bars {
    width: 87%;
    position: relative;
    top: 4%;
    left: 6%;
}

.where-to-find-us .bars img {
    max-width: 100%;
}

.where-to-find-us h2 {
    line-height: 1.1em;
    position: relative;
    top: 6%;
    left: 15%;
}

.where-to-find-us .logos {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 45%;
    top: -4%;
}

.where-to-find-us .logos img {
    width: 40%;
}

.contact-heading-first {
    top: 7%;
    left: 17%;
    margin: 0;
    font-size: 2.6em;
    line-height: 1.1em;
}

.contact-heading-second {
    margin: 0;
    top: 10%;
    left: 17%;
    font-size: 1.6em;
    line-height: 1.1em;
}

.contact form {
    position: relative;
    top: 16%;
    left: 9%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 9%;
    row-gap: 4%;
}

.contact form textarea {
    padding: 0.7em 0.8em;
    grid-column: 1 / 5;
    grid-row: 3 / 6;
    font-family: 'Cormonant Garamond Bold', serif;
    font-size: 1em;
    margin: 0 auto;
    width: 82vw;
    border: 0;
    opacity: 0.6;
    border-radius: 0 !important;
    -webkit-appearance: none;
}

.contact form textarea:focus {
    outline: none;
    opacity: 1;
}

.contact form label {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 6 / 7;
    grid-column: 1 / 5;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 0.6rem;
}

.contact form label input {
    margin-right: 0.5rem;
}

.contact form label a {
    color: #fff;
}

.contact form button {
    position: relative;
    grid-row: 7 / 8;
    grid-column: 2 / 4;
    border: 0;
    opacity: 0.9;
    background-color: #000;
    color: #fff;
    font-family: 'Social Gothic Demi-Bold';
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 0 !important;
    -webkit-appearance: none;
}

.contact form button:focus {
    outline: none;
}

.contact form > input {
    width: 38vw;
    padding: 0.7em 0.8em;
    font-family: 'Cormonant Garamond Bold', serif;
    font-size: 1em;
    border: 0;
    opacity: 0.6;
    color: #000;
    border-radius: 0 !important;
    -webkit-appearance: none;
}

.contact form > input:focus {
    outline: none;
    opacity: 1;
}

.contact form > input[name="name"] {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-transform: capitalize;
}

.contact form > input[name="email"] {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.contact form > input[name="phone"] {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.contact form > input[name="subject"] {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.sent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 51vw;
    height: 30vh;
    padding-top: 16%;
    font-family: 'Social Gothic Bold';
    font-size: 1.5em;
    opacity: 0.85;
    padding-right: 2%;
    padding-left: 2%;
}

@media (max-height: 800px) {

    .company-desc {
        font-size: 0.95em;
    }

}

@media (max-height: 780px) {

    .where-to-find-us h1 {
        font-size: 2em;
    }

    .where-to-find-us .bars {
        width: 82%;
        left: 7%;
    }

}

@media (max-height: 760px) {

    .product-heading {
        top: 15%;
    }

    .price {
        top: 35%;
    }

    .open-cart {
        top: 31%;
    }

    .product-desc {
        font-size: 1.1em;
        top: 32%;
    }

    .product-icons {
        width: 56% !important;
        top: 29%;
    }

}

@media (max-height: 750px) {
    
    .intro-second-heading {
        top: 4%;
        left: 17%;
        font-size: 2.2em;
    }

    .open-cart button {
        font-size: 0.9em;
    }

}

@media (max-height: 705px) {

    .where-to-find-us .bars {
        width: 80%;
    }

    .where-to-find-us .logos, .where-to-find-us h2 {
        font-size: 0.95em;
    }

}

@media (max-height: 725px) {

    .company-desc {
        font-size: 0.885em;
    }

}

@media (max-height: 720px) {

    .product-heading {
        font-size: 3.2em;
    }

    .price {
        top: 32.5%;
    }

    .product-desc {
        top: 31%;
    }

    .product-icons {
        top: 28%;
    }

}

@media (max-height: 700px) {

    .intro-first-heading {
        top: 50%;
    }

    .slide:nth-child(1) .section .slide-selectors button,
    .slide:nth-child(2) .section .slide-selectors button, 
    .slide:nth-child(4) .section .slide-selectors button, 
    .slide:nth-child(5) .section .slide-selectors button {
        font-size: 1.6em;
    }

    .slide:nth-child(1) .section .slide-selectors,
    .slide:nth-child(2) .section .slide-selectors, 
    .slide:nth-child(4) .section .slide-selectors, 
    .slide:nth-child(5) .section .slide-selectors {
        top: 76vh;
    }

    img[src="/img/mobile/icons-black.png"] {
        bottom: 24%;
    }
    
    .contact-heading-first {
        top: 6%;
        font-size: 2.2em;
    }

    .contact-heading-second {
        top: 9%;
        left: 18%;
        font-size: 1.3em;
    }

    .contact form {
        font-size: 0.9em;
        top: 15%;
    }

    .contact form textarea {
        width: 80vw;
    }

    .contact-legal {
        font-size: 0.25rem;
    }

}

@media (max-height: 690px) {

    .where-to-find-us .bars {
        width: 72%;
        left: 10%;
    }

    .product-heading {
        top: 16%;
        font-size: 3em;
    }

    .product {
        width: 110vw !important;
    }

    .open-cart {
        width: 39%;
    }

    .open-cart button {
        font-size: 0.8em;
    }

    .product-desc {
        top: 29.5%;
    }

    .product-icons {
        top: 26%;
    }

    .carousel .control-dots .dot {
        width: 2em;
        height: 2em;
        margin: 0 -0.45em;
    }

    .control-dots {
        bottom: -1% !important;
    }

}

@media (max-height: 670px) {

    .product {
        top: 35vh;
    }

    .open-cart {
        top: 29%;
    }

    .product-desc {
        top: 28%;
    }

    .product-icons {
        top: 24.5%;
    }

    .open-cart-container {
        top: 65%;
    }

    .product-desc {
        font-size: 1.1em;
        letter-spacing: 0.9px;
    }

}

@media (max-height: 660px) {
    
    .company-desc-p {
        font-size: 1em;
    }

    .logo-first {
        width: 27% !important;
        top: 11%;
    }

    img[src="/img/mobile/icons-black.png"] {
        bottom: 19.5%;
    }

    .slide:nth-child(3) .section .slide-selectors {
        bottom: 11%;
    }

}

@media (max-height: 650px) {

    .open-cart {
        width: 33%;
    }

    .open-cart button {
        font-size: 0.7em;
    }

    .product-desc {
        font-size: 0.9em;
    }

    .product-icons {
        top: 25%;
        left: 3.5%;
        width: 50% !important;
    }

    .control-dots {
        bottom: 0% !important;
    }

    

}

@media (max-height: 640px) {

    .intro-first-heading {
        top: 46%;
    }

}

@media (max-height: 620px) {

    .cart i {
        margin-top: 20%;
    }

    .contact-heading-first {
        top: 7%;
        left: 26%;
        font-size: 2em;
    }

    .contact-heading-second {
        top: 9%;
        left: 27%;
        font-size: 1.1em;
    }

    .contact form {
        font-size: 0.7em;
        top: 15%;
        left: 13%;
        column-gap: 3%;
    }

    .contact form textarea {
        width: 79vw;
    }

}

@media (max-height: 610px) {

    .price {
        top: 34.5%;
    }

    .intro-second-heading {
        top: 4%;
        font-size: 1.85em;
    }

    .logo-first {
        top: 10%;
    }

}

@media (max-height: 600px) {

    .company-desc-p {
        font-size: 0.9em;
    }

    img[src="/img/mobile/icons-black.png"] {
        bottom: 18%;
    }

    .open-cart {
        width: 42%;
    }

    .open-cart button {
        font-size: 0.8em;
    }


    .carousel .control-dots {
        bottom: 0% !important;
    }

    .carousel .control-dots .dot {
        width: 1.7em;
        height: 1.7em;
        margin: 0 -0.37em;
    }

}

@media (max-height: 590px) {

    .logo-first {
        top: 10.75%;
    }

}

@media (max-height: 580px) {

    .open-cart {
        width: 37%;
        height: 2em;
    }

    .open-cart button {
        font-size: 0.7em;
    }

    .carousel .control-dots {
        bottom: 1% !important;
    }

}

@media (max-height: 550px) {

    .product-section {
        background-position: 50% 44% !important;
    }

    .product-heading {
        top: 14%;
        font-size: 3em;
    }

    .price {
        top: 33.5%;
    }

    .product {
        top: 33vh;
    }

    .open-cart {
        top: 26.5%;
    }

    .product-desc {
        top: 25%;
    }

    .product-icons {
        top: 21.5%;
    }

    .control-dots {
        bottom: 1% !important;
    }

}

@media (max-width: 360px) {

    

}

@media (max-width: 340px) {

    

}

@media (max-width: 340px) {

    

}

@media (max-width: 310px) {

    

}

@media (max-width: 280px) {

    

}